header nav > ul li, header .mob-nav ul li {
  list-style: none;
  padding: 0rem 0rem 0.5rem;
  margin: 0;
  display: inline;
  margin-left: 2.5rem;
  position: relative; }
  header nav > ul li:after, header .mob-nav ul li:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336;
    transition: all 0.3s ease; }
  header nav > ul li:hover:after, header .mob-nav ul li:hover:after {
    width: 3rem; }
  header nav > ul li:hover, header .mob-nav ul li:hover {
    color: #494949; }

main #home, main #resume, main #services, main #portifolio, main #blog, main #contact {
  border-radius: 2rem;
  background-color: #fff;
  position: absolute;
  margin: 0rem 1rem 5rem;
  overflow: hidden;
  display: block;
  left: 0;
  right: 0;
  top: 10rem;
  opacity: 0;
  transform: scale(0);
  box-shadow: 1px 10px 20px 2px rgba(168, 171, 175, 0.2), -10px 1px 20px 2px rgba(168, 135, 134, 0.2); }

main #home .about-me .intro button, main #resume button, main #resume .resume-body .history .edu-item, main #resume .resume-body .history .exp-item, main #services .pricing .active-plan, main #blog .article, main #contact .contact-form button {
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 2px 5px rgba(150, 150, 150, 0.8), -1px 2px 5px rgba(150, 150, 150, 0.2); }
  main #home .about-me .intro button:hover, main #resume button:hover, main #resume .resume-body .history .edu-item:hover, main #resume .resume-body .history .exp-item:hover, main #services .pricing .active-plan:hover, main #blog .article:hover, main #contact .contact-form button:hover {
    box-shadow: 0px 4px 5px rgba(150, 150, 150, 0.9);
    transform: translateY(-5%); }

main #resume .header h1, main #services .header h1, main #portifolio .header h1, main #blog .header, main #contact .header {
  background-color: #f44336;
  margin: 0;
  padding: 3rem 0;
  font-size: 2rem;
  color: #fff; }

main #home .about-me .intro button, main #resume button, main #portifolio .btns button, main #contact .contact-form button {
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.28rem;
  font-weight: bold;
  padding: 1rem 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem; }

.animate-card {
  transform: scale(1) !important;
  opacity: 1 !important;
  transition: all 0.5s ease-in-out; }

html {
  font-size: 10px; }

body {
  font-size: 1.6rem;
  overflow-x: hidden;
  min-height: 800px;
  background-color: #f7f7f7; }
  body h1, body h2, body h3, body h4 {
    font-family: "Archivo black"; }

.fixed-nav {
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: #fff;
  box-shadow: 2px 2px 10px 1px rgba(168, 171, 175, 0.2); }

header {
  width: 100%;
  position: fixed;
  z-index: 100;
  padding-bottom: 2rem;
  padding-top: 4rem;
  top: 0;
  display: block;
  transition: all 0.5s ease-in-out; }
  header nav > ul {
    color: #a8abaf;
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
    float: right; }
    header nav > ul li:hover {
      cursor: pointer; }
    header nav > ul li.active {
      color: #494949; }
      header nav > ul li.active:after {
        width: 3rem; }
  header nav span {
    color: #555;
    font-size: 2.08rem;
    font-weight: bold; }
    header nav span #colored {
      color: #f44336; }
  header .mob-nav {
    display: none;
    margin: 0 auto;
    padding: 1.5rem;
    position: relative; }
    header .mob-nav span {
      font-family: "Archivo black";
      color: #fff;
      font-size: 1.6rem; }
    header .mob-nav i {
      float: right;
      padding-right: 2rem; }
      header .mob-nav i:before {
        color: #fff;
        font-size: 2.5rem; }
    header .mob-nav ul {
      position: absolute;
      top: 100%;
      right: -100%;
      height: 100vh;
      z-index: 1;
      margin: 0;
      padding: 2rem 0rem;
      background-color: #f44336; }
      header .mob-nav ul li {
        text-align: center;
        font-size: 1.6rem;
        padding: 1rem 30vw;
        margin: 0;
        color: #e5e5e5;
        display: block; }
        header .mob-nav ul li:after {
          background-color: #fff; }
        header .mob-nav ul li:hover {
          color: #fff; }
        header .mob-nav ul li.active-mob-li {
          color: #fff; }
          header .mob-nav ul li.active-mob-li:after {
            width: 3rem; }
      header .mob-nav ul.show-menu {
        right: 0%;
        transition: all 0.5s ease-in-out; }
      header .mob-nav ul.hide-menu {
        right: -100%;
        transition: all 0.5s ease-in-out; }

main {
  padding: 10rem 100px;
  position: relative; }
  main #home .header {
    background-color: #f44336;
    position: relative; }
    main #home .header .profile-wraper {
      margin-bottom: -80px;
      margin-top: 80px;
      transition: all 0.3s ease; }
      main #home .header .profile-wraper:hover {
        margin-bottom: -60px;
        margin-top: 60px; }
      main #home .header .profile-wraper .profile {
        width: 90%;
        margin: 0 auto; }
        main #home .header .profile-wraper .profile img {
          width: 90%;
          margin: 0 auto;
          display: block;
          border: 0.3rem solid #fff;
          transition: all 0.3s ease;
          box-shadow: 1px 2px 10px 2px rgba(168, 171, 175, 0.2); }
          main #home .header .profile-wraper .profile img:hover {
            box-shadow: 1px 10px 10px 2px rgba(168, 171, 175, 0.2); }
    main #home .header .info {
      color: #fff;
      padding: 70px 0px; }
      main #home .header .info h1 {
        font-size: 4.8rem;
        font-weight: bolder; }
      main #home .header .info .social-icons i {
        padding: 0rem 1.5rem; }
  main #home .about-me {
    padding: 5rem 50px; }
    main #home .about-me .intro h3 {
      font-size: 3.2rem;
      margin-top: 0; }
    main #home .about-me .intro span {
      color: #f44336; }
    main #home .about-me .intro p {
      color: #494949; }
    main #home .about-me address {
      color: #a8abaf; }
      main #home .about-me address p:nth-child(4) {
        color: #f44336; }
      main #home .about-me address abbr {
        border: none;
        text-decoration: none; }
  main #resume button {
    display: block;
    width: 20rem;
    margin: 3rem auto 0rem; }
  main #resume .resume-body {
    padding: 5rem 70px; }
    main #resume .resume-body h3 {
      margin-top: 0;
      font-size: 1.6rem; }
    main #resume .resume-body h2 {
      margin-bottom: 20px;
      font-size: 3.2rem; }
    main #resume .resume-body span {
      color: #f44336; }
    main #resume .resume-body .history {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      main #resume .resume-body .history .education, main #resume .resume-body .history .experience {
        border-left: 2px solid #eee;
        padding: 0 3rem; }
      main #resume .resume-body .history .edu-item, main #resume .resume-body .history .exp-item {
        position: relative;
        padding: 20px;
        margin-bottom: 2rem;
        border-left: 2px solid #f44336; }
        main #resume .resume-body .history .edu-item:after, main #resume .resume-body .history .exp-item:after {
          content: "";
          position: absolute;
          height: 2px;
          width: 3rem;
          left: 0;
          top: 3rem;
          transform: translate(-100%, -100%);
          background-color: #f44336; }
        main #resume .resume-body .history .edu-item:before, main #resume .resume-body .history .exp-item:before {
          content: "";
          position: absolute;
          height: 1.3rem;
          width: 1.3rem;
          border-radius: 50%;
          border: 2px solid #f44336;
          background-color: #fff;
          left: 0;
          top: 3rem;
          transform: translate(-4rem, -50%);
          z-index: 1; }
    main #resume .resume-body .skills {
      padding-top: 3rem;
      padding-bottom: 3rem; }
      main #resume .resume-body .skills p {
        font-weight: bolder; }
      main #resume .resume-body .skills .design div, main #resume .resume-body .skills .coding div {
        height: 1rem;
        padding: 0;
        border-radius: 0.5rem;
        margin-bottom: 2rem;
        background-color: #eee;
        position: relative; }
        main #resume .resume-body .skills .design div span, main #resume .resume-body .skills .coding div span {
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 0.5rem;
          display: inline-block;
          height: 100%;
          background-color: #f44336; }
      main #resume .resume-body .skills .design .rating-1 span, main #resume .resume-body .skills .coding .rating-1 span {
        width: 81%; }
      main #resume .resume-body .skills .design .rating-2 span, main #resume .resume-body .skills .coding .rating-2 span {
        width: 77%; }
      main #resume .resume-body .skills .design .rating-3 span, main #resume .resume-body .skills .coding .rating-3 span {
        width: 87%; }
      main #resume .resume-body .skills .design .rating-4 span, main #resume .resume-body .skills .coding .rating-4 span {
        width: 89%; }
      main #resume .resume-body .skills .design .rating-5 span, main #resume .resume-body .skills .coding .rating-5 span {
        width: 75%; }
      main #resume .resume-body .skills .design .rating-6 span, main #resume .resume-body .skills .coding .rating-6 span {
        width: 71%; }
  main #services h3 {
    padding: 0rem 4rem 4rem; }
  main #services .my-services {
    padding: 3rem; }
    main #services .my-services h4, main #services .my-services p {
      font-size: 1.6rem;
      text-align: center; }
    main #services .my-services .img-wraper {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      background-color: #eee;
      margin: 0 auto;
      position: relative;
      transition: all 0.5s cubic-bezier(0.74, 0.08, 0.18, 1.46); }
      main #services .my-services .img-wraper:hover {
        box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
        transform: translateY(-2rem); }
      main #services .my-services .img-wraper img {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(50%, 50%);
        width: 50%;
        display: block;
        margin: auto; }
    main #services .my-services > h4 {
      padding: 2rem 4rem;
      text-align: left;
      font-size: 1.92rem; }
      main #services .my-services > h4 span {
        color: #f44336; }
  main #services .clients {
    padding: 3rem 5rem; }
    main #services .clients .client-wraper {
      width: 65%;
      margin: 0 auto; }
      main #services .clients .client-wraper img {
        display: block;
        opacity: 0.5;
        width: 100%;
        transition: all 0.5s ease; }
        main #services .clients .client-wraper img:hover {
          opacity: 1 !important; }
  main #services .testimonials {
    width: 150%;
    padding: 20px 30px;
    margin-left: 0;
    margin-right: 0; }
    main #services .testimonials .tst-item {
      width: 95%;
      margin: 3rem auto;
      border: 1px solid #a8abaf;
      border-top: 2px solid #f44336; }
      main #services .testimonials .tst-item .person-profile {
        width: 70%;
        margin: 0 auto;
        margin-top: -5rem; }
        main #services .testimonials .tst-item .person-profile p {
          display: inline;
          float: left;
          color: #aeaeae;
          font-size: 1.2rem; }
        main #services .testimonials .tst-item .person-profile img {
          float: left;
          width: 30%;
          display: inline-block;
          border-radius: 50%;
          margin-right: 10px; }
      main #services .testimonials .tst-item > p {
        clear: both;
        padding: 2.5rem 1rem;
        color: #a8abaf; }
  main #services .navigation {
    width: 7rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around; }
    main #services .navigation i:hover {
      cursor: pointer; }
  main #services .pricing {
    padding: 0 4rem; }
    main #services .pricing .plan {
      width: 95%;
      margin: 3rem auto;
      padding: 3rem 20%;
      border: 1px solid #eee;
      transition: all 0.2s ease-in-out; }
      main #services .pricing .plan:hover {
        box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
        transform: translateY(-2rem); }
      main #services .pricing .plan span {
        display: block;
        text-align: center; }
        main #services .pricing .plan span.price {
          font-size: 4.8rem;
          padding-top: 3rem; }
          main #services .pricing .plan span.price + span {
            color: #aeaeae;
            font-size: 1.2rem; }
      main #services .pricing .plan button {
        display: block;
        width: 75%;
        margin: 2rem auto;
        padding: 1rem 1rem;
        outline: none;
        border: none;
        background-color: #f44336;
        color: #fff;
        border-radius: 2px; }
      main #services .pricing .plan p {
        line-height: 4rem; }
    main #services .pricing .active-plan > span:first-child {
      width: 5rem;
      margin: 0 auto;
      border-bottom: 2px solid #f44336; }
  main #portifolio .btns {
    display: flex;
    justify-content: center; }
    main #portifolio .btns button {
      margin: 1rem;
      color: #aeaeae;
      padding: 0.3rem; }
  main #portifolio img {
    width: 100%; }
  main #portifolio .container {
    padding: 1rem 5rem;
    transition: all 1s ease; }
  main #portifolio .port-item {
    padding: 0; }
    main #portifolio .port-item .img-wraper {
      margin: 0.5rem;
      position: relative;
      overflow: hidden; }
      main #portifolio .port-item .img-wraper:hover .img-preview {
        top: 0; }
      main #portifolio .port-item .img-wraper .img-preview {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f44336;
        opacity: 0.85;
        z-index: 1;
        padding: 3rem;
        transition: all 0.3s cubic-bezier(0.42, 0, 0.53, 1.38); }
        main #portifolio .port-item .img-wraper .img-preview p {
          color: #fff; }
        main #portifolio .port-item .img-wraper .img-preview span {
          position: absolute;
          bottom: 3rem;
          left: 3rem;
          color: #fff; }
        main #portifolio .port-item .img-wraper .img-preview i {
          position: absolute;
          bottom: 3rem;
          right: 3rem; }
          main #portifolio .port-item .img-wraper .img-preview i:before {
            color: #fff; }
  main #blog .article {
    margin: 2rem 2rem; }
    main #blog .article .img-wraper {
      position: relative; }
      main #blog .article .img-wraper img {
        width: 100%; }
      main #blog .article .img-wraper span {
        background-color: #fff;
        color: #f44336;
        font-size: 1.6rem;
        display: inline-block;
        padding: 0.5rem 1rem;
        position: absolute;
        top: 3rem;
        right: 3rem;
        z-index: 2; }
      main #blog .article .img-wraper i {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.4s ease; }
        main #blog .article .img-wraper i:before {
          position: absolute;
          font-size: 4rem;
          color: #fff;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
        main #blog .article .img-wraper i:hover {
          opacity: 1;
          cursor: pointer; }
    main #blog .article .disc {
      padding: 1rem 2rem; }
      main #blog .article .disc p:first-child {
        color: #a8abaf; }
      main #blog .article .disc p:nth-child(2) {
        font-family: "Archivo black"; }
      main #blog .article .disc p {
        text-align: center; }
  main #contact .contact-dtls, main #contact .contact-form {
    padding: 40px; }
  main #contact h3 > span {
    color: #f44336; }
  main #contact .contact-dtls #map {
    height: 20rem; }
  main #contact .contact-dtls .adrs {
    padding-top: 3rem; }
    main #contact .contact-dtls .adrs p {
      line-height: 5rem;
      margin: 0.5rem; }
    main #contact .contact-dtls .adrs i {
      display: inline-block;
      transform: translateY(35%);
      background-color: #eee;
      border-radius: 50%;
      width: 5rem;
      height: 5rem;
      position: relative; }
      main #contact .contact-dtls .adrs i:before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #f44336;
        font-size: 2.5rem; }
  main #contact .contact-form .spread-after {
    border-bottom-color: transparent !important; }
    main #contact .contact-form .spread-after:after {
      transition: all 0.5s ease-in-out;
      width: 100% !important; }
  main #contact .contact-form .input-feild {
    margin: 2rem 0;
    position: relative;
    border-bottom: 1px #999 solid;
    position: relative;
    transition: all 0.5s ease-in-out; }
    main #contact .contact-form .input-feild:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0%;
      height: 2px;
      background-color: #f44336; }
    main #contact .contact-form .input-feild label {
      transition: all 0.5s ease-in-out;
      position: absolute;
      left: 5rem;
      top: 1rem;
      color: #aeaeae;
      font-size: 1.92rem;
      z-index: -1; }
    main #contact .contact-form .input-feild i:before {
      width: 5%;
      font-size: 3rem;
      color: #aeaeae; }
    main #contact .contact-form .input-feild .in-use:before {
      color: #f44336; }
    main #contact .contact-form .input-feild input, main #contact .contact-form .input-feild textarea {
      background-color: transparent;
      padding: 1rem;
      width: 90%;
      border: none; }
      main #contact .contact-form .input-feild input:focus, main #contact .contact-form .input-feild textarea:focus {
        outline: none;
        border: none; }
  main #contact .contact-form button {
    background-color: #f44336;
    color: #fff; }

@media screen and (max-width: 960px) {
  nav {
    display: none !important; }

  .mob-nav {
    display: block !important;
    background-color: #f44336; }

  .history {
    display: initial !important; }
    .history .education, .history .experience {
      padding-right: 0 !important; }

  header {
    padding: 0 !important; }

  .profile img {
    width: 60% !important; }

  .my-services .img-wraper {
    margin-top: 3rem !important; }

  .testimonials {
    margin-left: 0 !important; }
    .testimonials .navigation {
      display: none !important; } }
@media (min-resolution: 192dpi) and (orientation: landscape) {
  html {
    font-size: 20px; } }

/*# sourceMappingURL=style.css.map */
